# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite
*.db
